doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div(class="header")
      div(class="content")
        a(href="/")
          span(class="title") Help Portal
        br
        span(class="moto") Help Portal for your customers
        br
        a(href="/answers/add") Add Answer
      
    div(class="content")
      div(class="search")
        form(action="/")
          input(type="text" name="search")
          button Search

      block content

    div(class="footer")
      div(class="content") With <a href="https://github.com/milansafar/HelpPortal"> GitHub</a> love and <a href="https://github.com/milansafar">Milan's</a> developemt skills.
