extends ../customer_portal_layout

block content
    h1 Add Answer

    if errors
        for error in errors
            b= error.msg
            br

    form(action="/answers" method="post")
        span Title
        br
        input(name="title")
        br
        span Description
        br
        input(name="description")
        br
        input(type="submit")
        input(type="hidden" name="_csrf" value=csrfToken)